.closed {
    text-decoration: line-through;
}

ol li p, form {
    display: inline;
}

li {
    cursor: pointer;
}

#tasks {
    float: left;
    width: 600px;
}

#owners {
    float: left;
    width: 600px;
}

#owners-tasks {
    margin-top: 1em;
}

#owners-tasks div {
    border: 1px solid navy;
    float: left;
    height: 100px;
    margin-right: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 200px;
}